.colorPicked {
  width:25px;
  height:25px;
  padding: 1%;
  margin:10% 0;
}

.weather-container {
  height: 90px;
}

.reminder-container {
  border-radius: 0.375rem;
}

.reminders-list-header .header-action{ 
  cursor: pointer;
}

.reminders-list-header .header-action:hover{ 
 background-color: #fffbe5;
 font-style: italic;
}
.reminders-list {  
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 70%;
}
.reminder-actions {
  border-radius: 0.375rem;
  cursor: pointer;
}
.clickable{
  border-right: 1px solid;
  cursor:pointer;
}
.reminder-actions svg {
  display: block;
  width: 100%;
  padding: 5% 0;
}