.row {
  margin: 5vh 0
}
.error {
  color: red;
  background-color: rgb(205, 165, 165);
}

.colorPicked {
  width:25px;
  height:25px;
  padding: 1%;
  margin:10% 0;
}

.weather-container {
  height: 90px;
}

.reminder-container {
  border-radius: 0.375rem;
}

.reminder-list {
  max-height: 300px;
  overflow-y: auto;
}