.dayCell {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-weight: bold;
  cursor: pointer;
  padding: 1% 0 0 5%;

  flex: 1;
  display: flex;
  overflow: auto;
}
.dayCell.nonActual {
  color: #BBBBBB !important;
}