/*
table {
  table-layout: fixed;
  height:100%;
  padding:0;
}
th{
  padding:0 !important;
}
thead{
  background-color: #3074B5;
  color: white;
}

thead tr th {
  text-align: center;
}

tbody tr {
  height: 100px;
}
td:first-child, td:last-child {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
}
td:first-child div, td:last-child div {
  color: #4090db;
}
td {
  border-left: 1px solid;
  border-bottom: 1px solid;
}
*/

#calendar{
  display: grid;
}

#calendar-header{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

#calendar-header div {
    background-color: #3074B5;
    color: white;
    font-weight: bolder;
}
#calendar-main {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  aspect-ratio: 1;
}

#calendar-main div {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

#calendar-main div:nth-child(7n), #calendar-main div:nth-child(7n+1) {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
  background-color: #F2F2F2;
  color: #4090db;
}