table {
  table-layout: fixed;
  height:100%;
  padding:0;
}
th{
  padding:0 !important;
}
thead{
  background-color: #3074B5;
  color: white;
}

thead tr th {
  text-align: center;
}

tbody tr {
  height: 100px;
}

td:first-child, td:last-child {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
  /* color: var(--bs-table-striped-color); */
}
td:first-child div, td:last-child div {
  color: #4090db;
}
td {
  border-left: 1px solid;
  border-bottom: 1px solid;
}